<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mrzhang.supermusic">

    <!-- 查询网络状态所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 读取内存的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="com.application.MusicApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="false"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">

        <service android:name="com.service.PlayService" />

        <activity
            android:name="com.activity.MusicActivity"
            android:label=""
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.activity.SettingActivity"
            android:label="@string/menu_setting"
            android:screenOrientation="portrait"/>

        <activity android:name="com.activity.SearchMusicActivity"
            android:label="@string/search"
            android:screenOrientation="portrait"/>

        <activity android:name="com.activity.AboutActivity"
            android:label="@string/menu_about"
            android:screenOrientation="portrait"/>

    </application>

</manifest>